#addModal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192,192,192,0.8);
  z-index: 5;
}
.addModal-content {
  position: fixed;
  width: 35%;
   background-color: black; /*rgb(20, 29, 40); */
  right: 33%;
  box-shadow: 5px 5px 10px grey;
  top: 15%;
  z-index: 6;
  border-radius: 10px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; 
}
.addModal-topHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
}
.addModal-content i {
  color: red;
  padding: 10px;
  font-size: 30px; 
  display: block;

}
.addModal-header {
  background-color: black;
  border-bottom: 2px solid black;
  box-shadow: 1px 3px 10px rgb(20, 29, 40);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.form-content {
  display: flex;
  justify-content: center;
}

.addModal-content form {
  margin: 15px;
}

.addModal-content input {
  margin: 0 10px 10px 0;
  width: 100%;
  padding: 4px;
  border: 1px solid black;
  font-size: 14px;
}
.addModal-content textarea {
  height: 48%;
  border: 1px solid black;
  width: 100%;
  margin: 0 10px 10px 0;
}
#closeAddModalBtn {
  background-color: black;
  border: none;
  display:block;
  margin: 5px 14px 5px 5px;
  padding-bottom: 5px;
  font-size: 30px;
  box-shadow: none;

  cursor: pointer;
  
}
#closeAddModalBtn:hover {
  color:red;
}

h4 {
    color: white;
  font-size: 16px;
  font-weight: normal;
}

.addButtons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.addButtons button {
  margin: 5px 10px 10px 0;
  padding: 5px;
  width: 80px;
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;;
  border: 1px solid rgb(20, 29, 40);
  background-color: rgb(20, 29, 40);
  box-shadow: inset 0 2px 10px rgba(120, 120, 120, 0.5);

}
.addButtons button:hover {
  background-color: lightblue;
}


.tooltiptext {
  visibility: hidden;
  width: 70%;
  background-color: #555;
  font-size: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 7;
  top: 43%;
  left:0;
  
}

@media (min-width: 320px) {
  .addModal-content {
    width: 70%;
    right: 15%;
  }
  
}

@media (min-width: 768px) {
  .addModal-content {
    width: 35%;
    right: 32.5%;
  }
}

@media (min-width: 1025px) {
  .addModal-content {
    width: 30%;
    right: 35%;
  }
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}