 html {
   height: 100%;
 }

body {
  height: 100%;
  margin: 0;
}

*{
    box-sizing: border-box;
  }

.modal {
    display:none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(192,192,192,0.5);
}

  .modal-content {
    position: fixed;
    margin: 0 auto;
    padding: 0 0 20px 0;
    border-radius: 10px;
    width: 30%;
    height:20%;
    right: 33%;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(0deg, rgb(20, 29, 40), #000000);
    -webkit-animation-name: animatemodal;
    -webkit-animation-duration: 0.6s;
    animation-name: animatemodal;
    animation-duration: 0.6s;
  }

  .modal-content-header {
    background-color: rgb(20, 29, 40);
    height:50px;
    padding:0 10px;
    display:flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .modal-content p {
    margin:0;
    line-height: auto;
    padding-top: 15px;
  }

  .modal-content i {
    color: red;
    font-size: 30px;
    line-height: 50px;
  }

  .button-yes,.button-no {
    width: 80px;
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(20, 29, 40);
    background-color: rgb(20, 29, 40);
    box-shadow: inset 0 2px 10px rgba(120, 120, 120, 0.5);
  }

  .modal-content-buttons {
  text-align: center;
  padding-bottom: 20px;
  }

  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display:inline-block;
    padding-top: 10px;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  @-webkit-keyframes animatemodal {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
  }

  @keyframes animatemodal {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
  }

  @media (min-width: 320px){
    .modal-content{
     width:77%;
    }
  }

  @media (min-width: 768px){
    .modal-content{
      width:41%;
    }
  }

  @media (min-width: 1024px){
    .modal-content{
      width:30%;
    }
  }
